@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.results {
  &__charts {
    padding: 0 2rem;
  }
  &__heading {
    color: $primary-textcolor;

    & span {
      color: $primary-accentcolor;
    }
  }

  &__insights {
    background-color: $primary-accentcolor;
    padding: 0 2rem;
    margin-top: 3rem;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__recommendation {
    color: white;
  }

  &__message {
    color: white;
    margin: 0;

  }

  &__text {
    text-align: center;
    margin-top: 3rem;
  }
}
